<head>
    <link rel="stylesheet" href="app/css/reset.css">
    <link rel="stylesheet" href="app/css/global.css">
    <link rel="stylesheet" href="app/css/insert.css">
</head>
<h1>Inserir veiculo</h1>
<form method="post" action="?pagina=home&metodo=insert">
    <span>nome do veiculo</span><br>
    <input class="input" type="text" name="veiculo" required><br><br>

    <span>marca</span><br>
    <input class="input" type="text" name="marca" required><br><br>

    <span>ano</span><br>
    <input class="input" type="number" name="ano" required><br><br>

    <span>descricao</span><br>
    <textarea class="textarea" name="descricao" cols="40" rows="10"></textarea><br><br>

    <span>vendido</span><br>
    <select name="vendido" class="select">
        <option value=""></option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
    </select><br><br>

    <input class="btn-inserir" type="submit" value="inserir">
</form>