<head>
    <link rel="stylesheet" href="app/css/reset.css">
    <link rel="stylesheet" href="app/css/global.css">
    <link rel="stylesheet" href="app/css/detalhes.css">
</head>
<h1>Detalhes do veiculo {{nome}}</h1>
<section class="detalhes">
    <p><i class="fa-solid fa-car-side carro"></i></p>
    <p>Marca: {{marca}}</p>
    <p>Ano: {{ano}}</p>
    <p>Descrição: {{descricao}}</p>
    <p>Vendido: {{vendido}}</p>
    <p>Criado em: {{created}}</p>
    <p>Atualizado em: {{updated}}</p>
    <p><i class="fa-solid fa-car-side carro"></i></p>
</section>