<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/css/reset.css">
    <link rel="stylesheet" href="app/css/global.css">
    <title>Relampago Sarinha</title>
</head>
<body>
    <header class="header">
        <img class="logo" src="assets/logo-relampago-sarinha.png" alt="logo">
    </header>
    <main>
        {{area_dinamica}}
    </main>
    <footer>
        <p><small>copyrigth © 2022 Todos os direitos reservados</small></p>
    </footer>
</body>
</html>